@media (max-width: 600px) {
  .products__grid {
    grid-template-columns: 1fr;
  }
}


/* --------------------------------------------------------------------------------------------- */
@media(max-width: 600px){
}
    .header__container{
    background-color: rgb(252, 252, 252);
    display: flex;
    justify-content: space-between;   
    flex-wrap: wrap;
    align-items: center;
    padding: 15px;
}
    .header__logo{
        
    }
