<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DevBurger - Flex & Grid 2025</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Oswald:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />

<!-- Incluir os links para CSS (pode ter mais arquivos ou arquivos com nomes diferentes) -->
    <link rel="stylesheet" href="/static/reset.css" />
    <link rel="stylesheet" href="/static/variables.css" />
    <link rel="stylesheet" href="/static/main.css" />
    <link rel="stylesheet" href="/static/media.css" />
    <link rel="stylesheet" href="/static/produto.css">
    {% block css_adicional %} 
    {% endblock %}
  </head>
  <body>

  <!-- Header e Navbar: Jolia-->
    <header class="header">
      <div class="header__container">
        <a href="#" class="header__logo">DevBurger</a>

        <nav class="header__nav">
          <ul class="header__menu">
            <li class="header__item">
              <a href="#" class="header__link">Home</a>
            </li>
            <li class="header__item">
              <a href="#menu" class="header__link">Cardápio</a>
            </li>
            <li class="header__item">
              <a href="#" class="header__link">Sobre</a>
            </li>
            <li class="header__item">
              <a href="#" class="header__link">Contato</a>
            </li>
          </ul>
        </nav>

        <div class="header__social">
          <a href="#" class="header__icon"
            ><span class="material-symbols-outlined">thumb_up</span></a
          >
          <a href="#" class="header__icon"
            ><span class="material-symbols-outlined">photo_camera</span></a
          >
        </div>

        <button class="header__toggle">
          <span class="material-symbols-outlined">menu</span>
        </button>
      </div>
    </header>
<div class="login-container">
    <h2>Cadastro</h2>

    <form>
        <div class="input-group">
            <label>Usuário</label>
            <input id="nome_usuario" name="nome_usuario" type="text" placeholder="Digite seu usuário">
        </div>

        <div class="input-group">
            <label>Nome completo</label>
            <input id="nome_completo" name="nome_completo" type="text" placeholder="Digite seu nome completo">
        </div>

        <div class="input-group">
            <label>Senha</label>
            <input id="senha" name="senha" type="password" placeholder="Digite sua senha">
        </div>

        <button class="btn">Entrar</button>
    </form>
</div>

<!-- Rodapé -->
<footer class="footer">
    <p class="footer__text">
        DevBurger © 2025. Todos os direitos reservados.
    </p>
</footer>
</body>

</html>