{% extends "layout.html" %}

{% block conteudo %}
<!-- Banner -->
    <section class="banner">
      <div class="banner__content">
        <h1 class="banner__title">
          Code & <span class="banner__title--highlight">Flavor</span>
        </h1>
        <p class="banner__subtitle">
          O melhor hambúrguer da cidade compilado para você.
        </p>
      </div>
    </section>

<!-- Escolha Rápida  -->
    <section class="categories">
      <div class="categories__container">
        <h2 class="categories__title">Escolha Rápida</h2>

        <div class="categories__list">

          {% for hamburguer in hamburguers %}
          <div class="category-item">
            <img
              src= {{hamburguer.foto}}
              alt="Lanche 6"
              class="category-item__img"
            />
            <a href="#lanche-6" class="button button--small">EU QUERO</a>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

<!-- Produtos do Menu -->
    <section class="products" id="menu">
      <div class="products__container">
        <h2 class="products__title">Nossos Destaques</h2>

        <div class="products__grid">
          {% for hamburguer in hamburguers_destaque %}
          <article class="card" id="lanche-{{hamburguer.codigo}}">
            <div class="card__image-wrapper">
              <img
                src="{{hamburguer.foto}}"
                alt="{{hamburguer.produto}}"
                class="card__image"
              />
            </div>
            <div class="card__body">
              <h3 class="card__title">{{hamburguer.produto}}</h3>
              <p class="card__description">
                {{hamburguer.descricao}}
              </p>
              <div class="card__footer">
                <span class="card__price">R${{hamburguer.preco}}0</span>
                <button class="button button--small">Comprar</button>
              </div>
            </div>
          </article>
          {% endfor %}
        </div>

        <div style="text-align: center; margin-top: 40px">
          <a href="#menu" class="button button--primary"
            >Voltar para Destaques</a
          >
        </div>
      </div>
    </section>
    {% endblock %}