{% extends "layout.html" %}

{% block conteudo %}
<link rel="stylesheet" href="/static/cadastro.css">
<div class="container">

    <div class="product">

        <!-- IMAGEM PRINCIPAL -->
        <div class="product-img">
            <img id="mainImg" src="{{lanche.foto}}" alt="Hamburguer">
            
            <!-- MINI GALERIA -->
            <div class="gallery">
                <img src="{{lanche.foto}}" onclick="trocarImagem(this)">
                
                <img src="{{lanche.foto}}" onclick="trocarImagem(this)">
                
                <img src="{{lanche.foto}}" onclick="trocarImagem(this)">
            </div>
        </div>

        <!-- INFORMAÇÕES -->
        <div class="product-info">
            <h2>{{lanche.produto}}</h2>

            <p>
                {{lanche.descricao}}
            </p>

            <div class="price">R$ {{lanche.preco}}0</div>

            <button class="btn">Comprar Agora</button>

            <div class="stock">
                🔴 Produto disponível por tempo limitado!
            </div>
        </div>

    </div>

</div>

<script>
function trocarImagem(elemento) {
    document.getElementById("mainImg").src = elemento.src;
}
</script>

{% endblock %}